.root {




    -fx-background-color: darkgray;

    -fx-accent: #757675;
    
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focused-mark-color: transparent;  

    -fx-font-family: sans-serif;

}

.box {
		
	-fx-background-color: lightgray;
	-fx-background-radius: 10;

}

.blankTextField  {
	
	-fx-background-image: url("smallwarning.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: right center;
	
}

.searchBar {

	-fx-border-color: white;
	-fx-border-style: solid;
	-fx-border-width: 6px;
	-fx-background-color: white;
	-fx-background-radius: 0;
	
}

.searchBar:focus {

	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	
}

.searchBarPane {
	
	-fx-padding: 10px;

	
}

.scroll-pane > .viewport {

   -fx-background-color: transparent;

}

.scroll-pane {

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;

}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.gridPane {
	
	-fx-background-radius: 10;
	-fx-background-color: darkgray;
    
}